body{
    padding: 60px;
    margin: 60px;

}
.div-container {
    background-color: rgb(178, 170, 170);
    padding: 15px;
    width: 600px;
}

.sub {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    gap: 2px;
    
}
.tabla{
    border: solid black 1px;
    width: 50%;
    display: flex;
    text-align: left;
    
    
}

button {
    border-radius: 6px;
    background-color: rgb(47, 155, 47);
    color: white;
}

